div {
    display: block;
}

.alert {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 80px;
    margin-left: -100px;
    z-index: 99999;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    text-align: center;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    text-align: center;
}

.alert-warning {
    color: #a94442;
    background-color: #fcf8e3;
    border-color: #faebcc;
    text-align: center;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    text-align: center;
}


* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
